<div class="quiz-edit-outcomes-header">Possible Results</div>

<ul>
  <li ng-repeat="outcome in outcomes">
    <span class="quiz-edit-outcomes-outcome-title">
      <span>Result {{ $index + 1 }}</span>
      <span ng-if="outcome.title">:</span>
      <span ng-bind-html="outcome.title | truncateByWords:7"></span>
    </span>

    <div class="quiz-edit-outcomes-outcome-toolbar">
      <div>
        <button
            ng-click="outcomeMove($index, $index - 1)"
            ng-disabled="$first">
          <span class="fa fa-chevron-up"></span>
        </button>
        <button
            ng-click="outcomeMove($index, $index + 1)"
            ng-disabled="$last">
          <span class="fa fa-chevron-down"></span>
        </button>
      </div>
      <div>
        <button
            title="Delete outcome"
            ng-click="outcomeDelete(outcome, $index)">
          <span class="fa fa-trash-o"></span>
        </button>
      </div>
    </div>

    <quiz-edit-outcomes-outcome
        outcome="outcome"
        quiz-style="quizStyle">
    </quiz-edit-outcomes-outcome>
  </li>
</ul>

<div class="quit-edit-outcomes-outcome-add">
  <button ng-click="outcomeAdd()">
    <span class="fa fa-plus"></span>
    <span>Add A Result</span>
  </button>
</div>
