quiz-edit {

  h4 {
    font-weight: bold;
    margin: 0 0 15px;
  }

  label + input[type="checkbox"] {
    margin-left: 10px;
  }

  .form-inline label {
    margin-right: 10px;
  }

  .quiz-image-box {
    height: 315px;
  }

  .quiz-panel-list {
    list-style: none;
  }

  .quiz-panel {
    margin-bottom: 5px;
  }

  .quiz-panel-heading {
    float: left;
  }

  .quiz-panel-toolbar {
    float: right;

    .btn-group {
      margin-left: 5px;
    }
  }
}
