<section class="well row">
  <h4>Quiz Options</h4>

  <div
      class="form-group col-sm-12"
      ng-show="quiz.quizStyle === 'test'">
    <label for="revealAnswers">Reveal other answers after answering</label>
    <input
        id="revealAnswers"
        type="checkbox"
        ng-model="quiz.showAllAnswers">
  </div>
  <div class="form-group col-sm-3">
    <label for="resultButtonText">Result Button Text</label>
    <input
        id="resultButtonText"
        class="form-control"
        type="text"
        ng-model="quiz.resultButtonText"
        placeholder="Get Results">
  </div>
</section>

<quiz-edit-outcomes
    class="well row"
    article-id="quiz.id"
    outcomes="quiz.outcomes"
    quiz-style="quiz.quizStyle">
</quiz-edit-outcomes>

<quiz-edit-questions
    class="well row"
    article-id="quiz.id"
    questions="quiz.questions"
    outcomes="quiz.outcomes"
    quiz-style="{{ quiz.quizStyle }}">
</quiz-edit-questions>
