<div class="quiz">
  <section class="row well">
    <div
        class="form-group"
        ng-show="article.quiz_style == 'test'">
      <label>
        <input
            type="checkbox"
            ng-model="article.show_all_answers">
        <span>Reveal Other Answers After Answering</span>
      </label>
    </div>
    <div class="form-group">
      <label>Customize Result Button Text:</label>
      <input
          type="text"
          ng-model="article.result_button_text">
      <span class="text-muted">(Optional: Defaults to "Get Results")</span>
    </div>
  </section>

  <section class="row well">
    <h1 class="h4">Possible Results</h1>
    <quiz-outcomes article="article"></quiz-outcomes>
  </section>

  <section class="row well">
    <h1 class="h4">Questions</h1>
    <quiz-questions article="article"></quiz-questions>
  </section>
</div>
