<section class="well row">
  <div class="quiz-options-header">
    <h4>Quiz Options</h4>
    <span class="quiz-helper-text">
      <span>Quiz Type:</span>
      <span ng-if="article.quiz_style === 'tally'">One Question (tally)</span>
      <span ng-if="article.quiz_style === 'test'">Scored Test</span>
      <span ng-if="article.quiz_style === 'multiple'">Open Ended (multiple choice)</span>
      <span ng-if="article.quiz_style === 'cosmo'">COSMOde</span>
    </span>
  </div>

  <div
      class="form-group"
      ng-show="article.quiz_style === 'test'">
    <label for="revealAnswers">Reveal other answers after answering</label>
    <input
        id="revealAnswers"
        type="checkbox"
        ng-model="article.show_all_answers">
  </div>
  <div class="form-group">
    <label for="resultButtonText">
      <span>Result Button Text</span>
      <span class="quiz-helper-text">(Optional: Defaults to "Get Results")</span>
    </label>
    <input
        id="resultButtonText"
        class="form-control"
        type="text"
        ng-model="article.result_button_text"
        placeholder="Get Results">
  </div>
</section>

<quiz-edit-outcomes
    class="well row"
    outcomes="article.outcome_set"
    quiz-id="article.id"
    quiz-style="{{ article.quiz_style }}">
</quiz-edit-outcomes>

<quiz-edit-questions
    class="well row"
    questions="article.question_set"
    outcomes="article.outcome_set"
    quiz-id="article.id"
    quiz-style="{{ article.quiz_style }}">
</quiz-edit-questions>
