
<div class="quiz-edit-questions-question-answer-text">
  <label>Answer:</label>
  <onion-editor
      ng-model="answer.body"
      role="singleline"
      placeholder="Answer"
      formatting="bold,italic,strike">
  </onion-editor>
</div>

<div
    class="quiz-edit-questions-question-answer-points"
    ng-show="quizStyle === 'tally' || quizStyle === 'cosmo'">
  <label>Points:</label>
  <input
      ng-model="answer.points"
      type="text"
      size="3">
</div>

<div
    class="quiz-edit-questions-question-answer-result"
    ng-show="quizStyle === 'multiple'">
  <label>Connect the answer with this result:</label>
  <select
      ng-model="answer.outcome"
      ng-options="outcome.id as outcome.title for outcome in outcomes">
  </select>
</div>

<div
    class="quiz-edit-questions-question-answer-correct"
    ng-show="quizStyle === 'test'">
  <label>
      <input
          type="checkbox"
          ng-model="answer.isCorrect">
      <span>Correct?</span>
  </label>
</div>

<div
    class="quiz-edit-questions-question-answer-explain"
    ng-show="quizStyle === 'test'">
  <label>Answer Explanation:</label>
  <onion-editor
      ng-model="answer.explanation"
      role="multiline"
      placeholder="Answer Explanation">
  </onion-editor>
</div>

<div class="quiz-edit-questions-question-answer-image">
  <label>Add Image</label>
  <betty-editable
      image="answer.image"
      ratio="1x1"
      add-styles="fa fa-camera-retro">
  </betty-editable>
</div>
