<div class="panel-body clearfix">
    <div class="row">
        <div class="col-sm-7 form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <label>Answer:</label>
                    <onion-editor ng-model="answer.body" role="singleline" placeholder="Answer" formatting="bold,italic,strike"></onion-editor>
                </div>
            </div>
            <div class="form-group" ng-show="article.quiz_style == 'tally' || article.quiz_style == 'cosmo'">
                <div class="col-sm-12">
                    <label>Points:</label>
                    <input class="form-control" type="text" ng-model="answer.points" size="3">
                </div>
            </div>
            <div class="form-group" ng-show="article.quiz_style == 'multiple'">
                <div class="col-sm-12">
                    <label>Connect the answer with this result:</label>
                    <select class="form-control" ng-model="answer.outcome" ng-options="outcome.id as outcome.title for outcome in article.outcome_set"></select>
                </div>
            </div>

            <div class="form-group" ng-show="article.quiz_style == 'test'">
                <div class="col-sm-12">
                    <label>
                        <input type="checkbox" ng-model="answer.is_correct"> Correct?
                    </label>
                </div>
            </div>

            <div class="form-group" ng-show="article.quiz_style == 'test'">
                <div class="col-sm-12">
                    <label>Answer Explanation:</label>
                    <onion-editor ng-model="answer.explanation" role="multiline" placeholder="Answer Explanation"></onion-editor>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <label>Add Image</label>
            <betty-editable
                image="answer.image"
                ratio="1x1"
                add-styles="fa fa-camera-retro add-image-box q-img">
            </betty-editable>
        </div>
    </div>
</div>
