<div class="quiz-outcome">
  <div class="panel-body clearfix">
    <div class="row">
      <div class="col-sm-7 form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
            <label for="outcometitle{{$index+1}}">Result Headline</label>
            <input
                id="outcometitle{{$index+1}}"
                class="form-control"
                type="text"
                ng-model="outcome.title"
                placeholder="Title of result">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <label for="outcometext{{$index+1}}">Result Description</label>
            <textarea
                id="outcometext{{$index+1}}"
                class="form-control"
                rows="3"
                ng-model="outcome.body"
                placeholder="Description of result"></textarea>
          </div>
        </div>
        <div
            class="form-group"
            ng-show="article.quiz_style == 'tally' || article.quiz_style == 'test' || article.quiz_style == 'cosmo'">
          <div class="col-sm-12">
            <label for="minans{{$index+1}}">This result requires a minimum score of:</label>
            <input
                id="minans{{$index+1}}"
                class="form-control"
                type="text"
                ng-model="outcome.min_score"
                size="5">
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input
                type="checkbox"
                ng-model="outcome.shareable">
              <span>This result is shareable</span>
          </label>
        </div>
        <div
            class="checkbox"
            ng-show="article.quiz_style == 'multiple'">
          <label>
            <input
                type="checkbox"
                ng-model="outcome.require_perfect">
            <span>Perfect score required</span>
          </label>
        </div>
      </div>
      <div class="col-sm-5">
        <label>Add Image</label>
        <betty-editable
            image="outcome.image"
            ratio="1x1"
            add-styles="fa fa-camera-retro add-image-box q-img">
        </betty-editable>
      </div>
    </div>
  </div>
</div>
