<div class="quiz-edit-outcomes-outcome-headline">
  <label for="quizEditOutcomesOutcomeHeadline{{ uuid }}">Result Headline</label>
  <input
      id="quizEditOutcomesOutcomeHeadline{{ uuid }}"
      type="text"
      ng-model="outcome.title"
      placeholder="Title of result">
</div>

<div class="quiz-edit-outcomes-outcome-description">
  <label for="quizEditOutcomesOutcomeDescription{{ uuid }}">Result Description</label>
  <textarea
      id="quizEditOutcomesOutcomeDescription{{ uuid }}"
      rows="3"
      ng-model="outcome.body"
      placeholder="Description of result"></textarea>
</div>

<div
    class="quiz-edit-outcomes-outcome-score"
    ng-show="quizStyle === 'tally' || quizStyle === 'test' || quizStyle === 'cosmo'">
  <label for="quizEditOutcomesOutcomeScore{{ uuid }}">This result requires a minimum score of:</label>
  <input
      id="quizEditOutcomesOutcomeScore{{ uuid }}"
      type="text"
      ng-model="outcome.min_score"
      size="5">
</div>

<div class="quiz-edit-outcomes-outcome-shareable">
  <label>
    <input
        type="checkbox"
        ng-model="outcome.shareable">
      <span>This result is shareable</span>
  </label>
</div>

<div
    class="quiz-edit-outcomes-outcome-perfect"
    ng-show="quizStyle === 'multiple'">
  <label>
    <input
        type="checkbox"
        ng-model="outcome.require_perfect">
    <span>Perfect score required</span>
  </label>
</div>

<div class="quiz-edit-outcomes-outcome-image">
  <label>Add Image</label>
  <betty-editable
      image="outcome.image"
      ratio="1x1"
      add-styles="fa fa-camera-retro">
  </betty-editable>
</div>
