<div>
  <label>Question:</label>

  <onion-editor
      ng-model="question.body"
      role="multiline"
      placeholder="Question Body">
  </onion-editor>

  <div ng-show="['multiple', 'cosmo', 'test'].indexOf(quizStyle) > -1">
    <label>Optional post-answer content:</label>
    <onion-editor
        ng-model="question.post_answer_body"
        role="multiline"
        placeholder="Post Answer Body">
    </onion-editor>
  </div>
</div>

<ul>
  <li ng-repeat="answer in question.answer_set">
    <span class="quiz-edit-questions-question-answer-title">
      <span>Answer {{ $index + 1 }}</span>
      <span ng-if="answer.body">:</span>
      <span ng-bind-html="answer | quizAnswerTitle"></span>
    </span>

    <div class="quiz-edit-questions-question-answer-toolbar">
      <div>
        <button
            ng-click="answerMove($index, $index - 1)"
            ng-disabled="$first">
          <span class="fa fa-chevron-up"></span>
        </button>
        <button
            ng-click="answerMove($index, $index + 1)"
            ng-disabled="$last">
          <span class="fa fa-chevron-down"></span>
        </button>
      </div>
      <div>
        <button
            title="Delete answer"
            ng-click="answerDelete(answer, $index)">
          <span class="fa fa-trash"></span>
        </button>
      </div>
    </div>

    <quiz-edit-questions-question-answer
        answer="answer"
        outcomes="outcomes"
        quiz-style="quizStyle">
    </quiz-edit-questions-question-answer>
  </li>
</ul>

<div class="quiz-edit-questions-question-answer-add">
  <button ng-click="answerAdd()">
    <span class="fa fa-plus"></span>
    <span>Add An Answer</span>
  </button>
</div>
