<div>

  <div>
    <label>Question</label>
    <onion-editor
        ng-model="question.body"
        role="multiline"
        placeholder="Question Body">
    </onion-editor>
  </div>

  <div ng-show="['multiple', 'cosmo', 'test'].indexOf(quizStyle) > -1">
    <label>Optional post-answer content</label>
    <onion-editor
        ng-model="question.postAnswerBody"
        role="multiline"
        placeholder="Post Answer Body">
    </onion-editor>
  </div>
</div>

<ul class="quiz-panel-list">
  <li
      class="panel panel-default quiz-panel"
      ng-repeat="answer in question.answers">

    <div
        class="panel-heading"
        data-toggle="collapse"
        data-target="#answer{{ $index }}">

      <div class="quiz-panel-heading">
        <span>Answer {{ $index + 1 }}</span>
        <span ng-if="answer.body">:</span>
        <span ng-bind-html="answer.body | truncateByWords:7"></span>
      </div>

      <div class="quiz-panel-toolbar">
        <div class="btn-group">
          <button
              class="btn btn-xs btn-info"
              ng-click="answerMove($index, $index - 1); $event.stopPropagation();"
              ng-disabled="$first">
            <span class="fa fa-chevron-up"></span>
          </button>
          <button
              class="btn btn-xs btn-info"
              ng-click="answerMove($index, $index + 1); $event.stopPropagation();"
              ng-disabled="$last">
            <span class="fa fa-chevron-down"></span>
          </button>
        </div>
        <div class="btn-group">
          <button
              class="btn btn-xs btn-danger"
              title="Delete answer"
              ng-click="answerDelete(answer, $index); $event.stopPropagation();">
            <span class="fa fa-trash-o"></span>
          </button>
        </div>
      </div>

      <quiz-edit-questions-question-answer
          id="answer{{ $index }}"
          class="panel-body collapse"
          answer="answer"
          outcomes="outcomes"
          quiz-style="quizStyle">
      </quiz-edit-questions-question-answer>
    </div>
  </li>
</ul>

<div>
  <button
      class="btn btn-primary"
      ng-click="answerAdd()">
    <span class="fa fa-plus"></span>
    <span>Add An Answer</span>
  </button>
</div>
