{% extends "quiz/partials/quiz_base_detail.html" %}

{% block type %}boolean{% endblock %}

{% block answer_body %}
  <div>
    <input
        type="checkbox"
        name="question-{{ question.id }}"
        id="answer-{{ answer.id }}"
        value="{{ answer.points }}">

    <label
        for="answer-{{ answer.id }}"
        class="{% if answer.detail_image %}has-image{% endif %}">

      <div class="answer-container content-box">
        {% include "quiz/partials/image.html" %}

        <div class="inner">
          {{ answer.body|safe }}
        </div>
      </div>
    </label>
  </div>
{% endblock %}

{% block quiz_body %}
  {% for question in content.question_set.all %}
    <li class="question boolean">
      <dl class="{% if question.answer_set.all.0.detail_image %}layout-grid{% else %}layout-stacked{% endif %}">

        {% include "quiz/partials/prompt.html" %}

        <div class="row">
          {% for answer in question.answer_set.all %}
            <div class="answer {% if answer.detail_image %}image{% endif %}">

              {% if answer.explanation %}
              <div class="answer-explanation">
                {{ answer.explanation|safe }}
              </div>
              {% endif %}
            </div>
            {% if forloop.counter|divisibleby:2 %}
              </div>
              <div class="row">
            {% endif %}
          {% endfor %}
              </div>

        {# Any immediate result #}
        {% if question.post_answer_body %}
          <div class="row post-answer-body">
            {{ question.post_answer_body|safe }}
          </div>
        {% endif %}
      </dl>
    </li>
  {% endfor %}
{% endblock %}
