{% extends "quiz/partials/quiz_base_detail.html" %}

{% block type %}multiple-choice cosmode{% endblock %}

{% block answer_data %}
  data-outcome="{{ answer.outcome_id }}"
{% endblock %}

{% block answer_body %}
  <div>
    <input
        id="answer-{{ answer.id }}"
        type="radio"
        name="question-{{ question.id }}"
        value="{{ answer.points }}">
    <label
        for="answer-{{ answer.id }}"
        class="{% if answer.detail_image %}has-image{% endif %}">

      <div class="answer-container content-box">
        {% include "quiz/partials/image.html" %}

        <div class="inner">
          {{ answer.body|safe }}
        </div>
      </div>
    </label>
  </div>
{% endblock %}
