<div class="quiz-edit-questions-header">Questions</div>

<ul>
  <li ng-repeat="question in questions">
    <span class="quiz-edit-questions-question-title">Question {{ $index + 1 }}</span>

    <div class="quiz-edit-questions-question-toolbar">
      <div>
        <button
            ng-click="questionMove($index, $index - 1)"
            ng-disabled="$first">
          <span class="fa fa-chevron-up"></span>
        </button>
        <button
            ng-click="questionMove($index, $index + 1)"
            ng-disabled="$last">
          <span class="fa fa-chevron-down"></span>
        </button>
      </div>
      <div>
        <button
            title="Delete question"
            ng-click="questionDelete(question, $index)">
          <span class="fa fa-trash"></span>
        </button>
      </div>
    </div>

    <quiz-edit-questions-question
        outcomes="outcomes"
        question="question"
        quiz-style="quizStyle">
    </quiz-edit-questions-question>
  </li>
</ul>

<div class="quit-edit-questions-question-add">
  <button ng-click="questionAdd()">
    <span class="fa fa-plus"></span>
    <span>Add A Question</span>
  </button>
</div>
