.quiz-container {

  ul, ol {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
  }

  .question .row.post-answer-body {
    display: none;
  }

  &.completed .question {
    &, label {
      cursor: default;
    }
  }

  .answer {

    &:first-child {
      margin-top: 0;
    }

    label {
      display: block;
      position: relative;
    }

    input {
      display: none;

      &:not([disabled]) + label {
        cursor: pointer;
      }
    }

    .reveal-all-answers & {

      &[data-correct='True'] {
        background-color: #bfdfb7;
        border-color: 2px solid #90c782;
      }

      &[data-correct='False'] {
        background-color: #e8aeae;
        border: 2px solid #d77272;
      }
    }
  }

  .answer-explanation {
    cursor: default;
    display: none;

    .correct-answer & {
      color: #27af4a;
    }

    .wrong-answer & {
      color: #ce2026;
    }
  }

  .reveal-all-answers, .reveal-answer {

    &[data-unanswered=false] label {
      cursor: default;
    }
  }

  .outcomes {
    display: none;
  }
}
